.Card {
    position: relative;
    display: block;
    background-color: #222;
    width: 180px;
    height: 240px;
    margin: 16px;
    color: white;
}

.CardTokenContainer {
    display: -webkit-flex;
    display: flex;
}

.CardPriceContainer {
    display: block;
}

.CardToken {
    -webkit-flex: 1;
    flex: 1;
    height: 60px;
    margin: 0;
}

.CardPoints {
    -webkit-flex: 2;
    flex: 2;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}

.CardPrice {
    width: 120px;
    bottom: 0;
    margin: 0;
    padding: 0;
}

.Red {
    color: white;
    background: red;
}

.Green {
    color: white;
    background: green;
}

.Blue {
    color: white;
    background: Blue;
}

.White {
    color: black;
    background: white;
}

.Black {
    color: white;
    background: black;
}
