.Card {
    position: relative;
    display: block;
    background-color: #333;
    width: 180px;
    height: 240px;
    margin: 16px;
    color: white;
}

.CardTokenContainer {
    display: -webkit-flex;
    display: flex;
    background-color: rgba(255, 255, 255, 33%)
}

.CardPriceContainer {
    position: absolute;
    display: block;
    bottom: 0;
}

.CardToken {
    -webkit-flex: 1;
    flex: 1;
    height: 60px;
    margin: 0;
}

.CardPoints {
    -webkit-flex: 2;
    flex: 2;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}

.CardPrice {
    width: 32px;
    height: 32px;
    border-radius: 16px;
    border: 1px solid;
    bottom: 0;
    margin: 4px;
    padding: 0;
}

.Red {
    border-color: white;
    color: white;
    background: red;
}

.Green {
    border-color: white;
    color: white;
    background: green;
}

.Blue {
    border-color: white;
    color: white;
    background: Blue;
}

.White {
    border-color: black;
    color: black;
    background: white;
}

.Black {
    border-color: white;
    color: white;
    background: black;
}
