.Token {
    width: 100px;
    height: 100px;
    background-color: white;
    border-radius: 50px;
    border-color: black;
    border-style: solid;
}

.IconInToken {
    height: 50px;
    margin-top: 20px;
}
